<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: headReference"></head>

<body>
<!-- Navigation Bar from thymeleaf layout to use it on multiple pages -->

<nav th:replace="layouts :: navReference"></nav>

  <div class="container">
  		<h4>Current Projects:</h4>
  		<br>
		<table class="table table-bordered table-hover table-dark table-striped" >
		    <thead>
		        <tr>
		            <th scope="col">Project Name</th>
		            <th scope="col">Project Current Stage</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="iterator: ${allMyhomeProjects}">
					<td th:text="${iterator.name}"/> 
					<td th:text="${iterator.stage}"/> 
		        </tr>	
		    </tbody>
		</table>
		<br>
		<h4>Current Employees:</h4>
		<table class="table table-bordered table-hover table-dark table-striped">
		    <thead>
		        <tr>
		            <th scope="col">Employee First Name</th>
		            <th scope="col">Employee Last Name</th>
		             <th scope="col">Employee's Mail</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="iterator: ${allMyEmployees}">
					<td th:text="${iterator.firstName}"/> 
					<td th:text="${iterator.lastName}"/> 
					<td th:text="${iterator.email}"/> 
		        </tr>	
		    </tbody>
		</table>
		
	</div>
</body>
</html>