<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: headReference"></head>

<body>
<!-- Navigation Bar from thymeleaf layout to use it on multiple pages -->

<nav th:replace="layouts :: navReference"></nav>

  <div class="container">
	
		<h4>Current Employees:</h4>
		<hr>
		
  		<!-- Adding New Employee Button -->
  		<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3"> New Employee</a>
		
		<table class="table table-bordered table-hover table-dark table-striped" >
		    <thead class="thead-dark">
		        <tr>
		            <th scope="col">Employee Name</th>
		            <th scope="col">Employee mail</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="iterator: ${AllEmployeeslist}">
					<td th:text="${iterator.firstName}"/> 
					<td th:text="${iterator.lastName}"/> 
					<td th:text="${iterator.email}"/> 
		        </tr>	
		    </tbody>
		</table>
		
	</div>
</body>
</html>