<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: headReference"></head>

<body>
<!-- Navigation Bar from thymeleaf layout to use it on multiple pages -->

<nav th:replace="layouts :: navReference"></nav>

  <div class="container">
  
  		<h4>Current Projects:</h4>
  		<hr>
  		<!-- Adding New project Button -->
  		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3"> New Project</a>
  		
		<table class="table table-bordered table-hover table-dark table-striped">
		    <thead class="thead-dark">
		        <tr>
		            <th scope="col">Project Name</th>
		            <th scope="col">Project Stage</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="iterator: ${ListOfAllProjects}">
					<td th:text="${iterator.name}"/> 
					<td th:text="${iterator.stage}"/> 
		        </tr>	
		    </tbody>
		</table>

	</div>
</body>
</html>